# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- '*'

pool:
  vmImage: windows-2019
  demands:
  - msbuild
  - visualstudio

#Dichiarazione delle variabili utilizzate nella pipeline
variables:
  percorsoPreBuild: '.\DirectoryPreBuild'
  percorsoPostBuild: '.\DirectoryPostBuild'



steps:

#download del file .ps1 per l'implementazione della funzione in powershell
- powershell: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/wikijm/PowerShell-AdminScripts/master/Miscellaneous/New-IsoFile.ps1" -OutFile "$(System.DefaultWorkingDirectory)\New-IsoFile.ps1"
  displayName: download funione per creare iso in powershell

#implementazione della funziona
- task: PowerShell@2
  inputs:
    targetType: inline
    script: $(System.DefaultWorkingDirectory)\New-IsoFile.ps1 ; New-Isofile $(percorsoPostBuild) -path $(System.DefaultWorkingDirectory)\DirectoryISO\Game.iso -Title "A fantastic game"
    pwsh: true
  
#- powershell: $(System.DefaultWorkingDirectory)\New-IsoFile.ps1
#  displayName: implementazione della funzione per ISO

#creazione dell'ISO
#- powershell: New-Isofile $(percorsoPostBuild) -path $(System.DefaultWorkingDirectory)\DirectoryISO\Game.iso -Title "A fantastic game"
#  displayName: creazione dell'ISO
