# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pool:
  vmImage: windows-2019

variables:
  percorsoPreBuild: '.\DirectoryPreBuild'
  numeroFilePNG: '3'
  extensionPNG: "png"
  numeroFileGIF: '3'
  extensionGIF: "gif"
  numeroFileDDS: '4'
  extensionDDS: "dds"
  numeroFIleMP3: '5'
  extensionMP3: "mp3"
  numeroFileWav: '7'
  extensionWAV: "wav"


steps:
#controllo file .png
- template: checkGrafic.yml
  parameters:
    percorsoPreBuild: $(percorsoPreBuild)
    numeroFile: $(numeroFilePNG)
    extension: $(extensionPNG)

#controllo file .gif
- template: checkGrafic.yml
  parameters:
    percorsoPreBuild: $(percorsoPreBuild)
    numeroFile: $(numeroFileGIF)
    extension: $(extensionGIF)

#controllo file .dds
- template: checkGrafic.yml
  parameters:
    percorsoPreBuild: $(percorsoPreBuild)
    numeroFile: $(numeroFileDDS)
    extension: $(extensionDDS)
     

