# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pool:
  vmImage: windows-2019

variables:
  percorsoPreBuild: '../DirectoryPreBuild'

#########   PROCESSO DI PREBUILD   #########

steps:

- powershell:  |
      new-item base.ps1 -type file -force -value '
      param ($input1, $input2) 
      if($input1 -ne $input2)
      {
        Write-Error "NOOOOOOO"
        exit 1
      }'
  displayName: crealo cazzo

- powershell: dir
  displayName: vediaml

- task: PowerShell@2
  inputs:
   targetType: filePath
   script: .\base.ps1
   arguments: >
     -input1 3
     -input2 4
     