# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pool:
  vmImage: windows-2019

#########   PROCESSO DI PREBUILD   #########

steps:

#installazione di Directx
- powershell: choco install directx-sdk
  displayName: installare directx.sdk