# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pool:
  vmImage: windows-2019

variables:
  percorsoPreBuild: '.\DirectoryPreBuild'
  pesoMassimo: 17.08




#controllo file .png
extends:
 template: checkGrafic.yml
 parameters:
   percorsoPreBuild: $(percorsoPreBuild)
   numeroFile: $(numeroFilePNG)
   extension: $(extensionPNG)

