# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- '*'

pool:
  vmImage: windows-latest


#Dichiarazione delle variabili utilizzate nella pipeline
variables:
  percorsoPreBuild: '.\DirectoryPreBuild'
  percorsoPostBuild: '.\DirectoryPostBuild'

  buildConfiguration: 'Release'
  
  numeroFilePNG: '3'
  extensionPNG: "png"
  numeroFileGIF: '6'
  extensionGIF: "gif"
  numeroFileDDS: '4'
  extensionDDS: "dds"
  numeroFileMP3: '5'
  extensionMP3: "mp3"
  numeroFileWAV: '7'
  extensionWAV: "wav"

  account_name_steam: pinuzzo
  password_steam: "123456798"

  pesoMassimo: 5046586572

  postTypeIG: post
  tagsPostIG: ''
  placePostIG: ''

  playlistVideoYT: samplePlaylist1
  familyFriendlyYT: true


#########   PROCESSO DI PREBUILD   #########
steps:
#download di steamworks_sdk per la pubblicazione su steam
- powershell: New-Item -Path "$(System.DefaultWorkingDirectory)\steamworks_sdk -force

#unzip steamworks_skd
- task: ExtractFiles@1
  inputs:
    archiveFilePatterns: $(System.DefaultWorkingDirectory)\steamworks_sdk\
    destinationFolder: $(System.DefaultWorkingDirectory)\steamworks_sdk\

#copio i file del gioco in steamworks_sdk
- task: CopyFiles@2
  inputs:
    sourceFolder: $(percorsoPostBuild)
    contents: '**' 
    targetFolder: $(System.DefaultWorkingDirectory)\steamworks_sdk\steamworks_sdk_153a\sdk\tools\ContentBuilder\content
    cleanTargetFolder: true