# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pool:
  vmImage: windows-2019

variables:
  percorsoPreBuild: '.\DirectoryPreBuild'



steps:

- powershell: |
      new-item checkDim.ps1 -type file -force -value '
      $output = (Get-ChildItem $(percorsoPreBuild)\ | measure Length -sum).sum / 1GB
      if($output -gt $(pesoMassimo)){
        Write-Error "Dimension of directory is too big for an DVD"
        exit 1
      }

#Controllo dimensione per caricamento su un DVD
- task: PowerShell@2
  inputs:
    targetType: filePath
    filePath: $(System.DefaultWorkingDirectory)\checkDim.ps1
  displayName: controllo dimensione per caricare su DVD

