# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- '*'

pool:
  vmImage: windows-2019
  demands:
  - msbuild
  - visualstudio

#Dichiarazione delle variabili utilizzate nella pipeline
variables:
  percorsoPreBuild: '.\DirectoryPreBuild'
  percorsoPostBuild: '.\DirectoryPostBuild'

  buildConfiguration: 'Release'
  
  numeroFilePNG: '3'
  extensionPNG: "png"
  numeroFileGIF: '6'
  extensionGIF: "gif"
  numeroFileDDS: '4'
  extensionDDS: "dds"
  numeroFileMP3: '5'
  extensionMP3: "mp3"
  numeroFileWAV: '7'
  extensionWAV: "wav"

  account_name_steam: pinuzzo
  password_steam: "123456798"

  pesoMassimo: 5046586572

  postTypeIG: post
  tagsPostIG: ''
  placePostIG: ''

  playlistVideoYT: samplePlaylist1
  familyFriendlyYT: true


#########   PROCESSO DI PREBUILD   #########

steps:
#Pubblicazione su steam
#download di steamworks_sdk per la pubblicazione su steam
- powershell: Invoke-WebRequest -Uri "https://partner.steamgames.com/downloads/steamworks_sdk_153a.zip" -OutFile ( New-Item -Path "$(System.DefaultWorkingDirectory)\steamsdk\steamworks_sdk_153a.zip" -Force )
  displayName: Download steamworks_sdk

- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\

#unzip steamworks_sdk
- task: ExtractFiles@1
  inputs:
    archiveFilePatterns: $(System.DefaultWorkingDirectory)\steamsdk\steamworks_sdk_153a.zip
    destinationFolder: $(System.DefaultWorkingDirectory)\steamsdk\
    cleanDestinationFolder: false

- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\
- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\sdk\

#copio i file del gioco in steamworks_sdk
- task: CopyFiles@2
  inputs:
    sourceFolder: $(percorsoPostBuild)
    contents: '**' 
    targetFolder: $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\content
    cleanTargetFolder: true

- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\content
- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\scripts\

#pulire la directory prima di immettere gli script
- task: DeleteFiles@1
  inputs:
    SourceFolder: $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\scripts\
    Contents: '**/*'
  displayName: pulire la directory prima di immettere gli script

- powershell: ls $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\scripts\

#creo primo script per steamworks_sdk
- powershell: |
    new-item $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\scripts\app_build_1946.vdf -type file -force -value '
    "AppBuild"
    {
      "AppID" "1946" // Your AppID
      "Desc" "Game of the YEAR" // internal description for this build
      "Preview" "1" // 0 nothing preview, 1 make this a preview build only, nothing is uploaded
      "Local" "" // put content on local content server instead of uploading to Steam
      "SetLive" "AlphaTest" // set this build live on beta branch AlphaTest
      "ContentRoot" "${System.DefaultWorkingDirectory}\steamsdk\sdk\tools\ContentBuilder\content" // content root folder relative to this script file
      "BuildOutput" "${System.DefaultWorkingDirectory}\steamsdk\build_output\" // put build cache and log files on different drive for better performance

      "Depots"
      {
        // file mapping instructions for each depot are in separate script files
        "19461" "depot_build_19461.vdf"
      }
    }'
  displayName: creo script App Build per steamworks_sdk

#creo secondo script per steamworks_sdk
- powershell: |
    new-item $(System.DefaultWorkingDirectory)\steamsdk\sdk\tools\ContentBuilder\scripts\depot_build_19461.vdf -type file -force -value '
    "DepotBuild"
    {
      // Set your assigned depot ID here
      "DepotID" "19461"

      // absolute path to your content folder
      "contentroot" "${System.DefaultWorkingDirectory}\steamsdk\sdk\tools\ContentBuilder\content"

      // include all files recursivley
      "FileMapping"
      {
        // This can be a full path, or a path relative to ContentRoot
        "LocalPath" "*"

        // This is a path relative to the install folder of your game
        "DepotPath" "."

        // If LocalPath contains wildcards, setting this means that all
        // matching files within subdirectories of LocalPath will also
        // be included.
        "Recursive" "1"
      }
    }'
  displayName: creo script DeportBild per steamworks_sdk